#myNav{
    display:flex;
    justify-content:space-between;
    border-bottom: 2px solid grey;
    height: 100px;
}
#myNav div{
    /*border: 1px solid grey;*/
}
#logo{
    width:50px;
    height:50px;
    text-align: center;
    line-height:50px;
    color: black;
    background: #cccccc;
}
#navBookBtn, #navCDBtn {
    border: 1px solid grey;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
#navBookBtn:hover, #navCDBtn:hover {
    background: skyblue;
    color: white;
    border: none;
}

#searchFormPanel{
    position: relative;
    height: 35px;
    overflow: hidden;
    margin: 20px 0px;
}
#searchForm input{
    width: 100%;
    height: inherit;
    padding: 3px;
}
#searchForm button {
    position: absolute;
    right: 0px;
    width: 120px;
    min-width: 120px;
    color: white;
    background: black;
    border: none;
    outline: none;
    height: inherit;
    padding: 3px;
    padding-bottom: 6px;
}
#menu {
    padding-top: 40px;
}